.btn {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
  margin: 15px 0;
}

.btn:hover {
  background: rgb(53, 167, 110);
}

.btn:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.btn:nth-child(2n) {
  margin: 0 5px;
}

.btn:first-letter {
  text-transform: uppercase;
}
